version: "3.6"
services:
 postgres:
  restart: always
  image: postgres:12.4
  volumes:
   - db-data:/var/lib/postgresql/data
  environment:
   POSTGRES_DB: postgres
   POSTGRES_USER: postgres
   POSTGRES_PASSWORD: postgres
  healthcheck:
   test: ["CMD-SHELL","pg_isready -U postgres"]
   interval: 10s
   timeout: 2s
   retries: 10
 app:
  build: .
  restart: always
  volumes:
   - ./static:/opt/presentaciones/static
   - ./config.json:/opt/presentaciones/config.json:ro
  ports:
   - "5454:5454"
  depends_on:
   - postgres
volumes:
 db-data:
